@media (min-width: 768px) {
  .panel {
    -moz-box-shadow: 2px 4px 6px rgba(211, 211, 211, 0.2);
    -webkit-box-shadow: 2px 4px 6px rgba(211, 211, 211, 0.2);
    box-shadow: 2px 4px 6px rgba(211, 211, 211, 0.2);
    padding: 0px;
    background: white;
  }
}
