<div class="row equal">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-sm-4">
        <label for="sort-field">Sort by</label>
        <select
          name="sort-field"
          id="sort-field"
          class="form-control"
          [(ngModel)]="sortField">
            <option
            *ngFor="let field of sortFields"
            [value]="field">
              {{ utilService.capitalize(field) }}
            </option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="sort-direction">Sort Direction</label>
        <div>

          <button class="btn btn-primary"
          [ngClass]="{'btn-success': sortDirection == 'asc'}"
          (click)="sortDirection = 'asc'">
            <span class="glyphicon glyphicon-arrow-up"></span>
          </button>

          <button class="btn btn-primary"
          [ngClass]="{'btn-success': sortDirection == 'desc'}"
          (click)="sortDirection = 'desc'">
            <span class="glyphicon glyphicon-arrow-down"></span>
          </button>

        </div>
      </div>

      <div class="col-sm-4">
        <label for="sort-field">Category</label>
        <select (change)="categoryChanged($event.target.value)" name="cat-field" id="cat-field" class="form-control">
            <option
            *ngFor="let cat of categoryArray"
            [value]="cat">
              {{ cat }}
            </option>
        </select>
      </div>
      </div>
      </div>
  <div *ngFor="let book of books | sortBy: [sortField, sortDirection]">
    <app-book-card [book]="book"></app-book-card>
  </div>
</div>

