@media (min-width: 768px) {

  .thumbnail {
      width: 33%;
      padding: auto;
      margin: 1.9px;
      -moz-box-shadow: 2px 4px 6px rgba(128, 128, 128, 0.3);
      -webkit-box-shadow: 2px 4px 6px rgba(128, 128, 128, 0.3);
      box-shadow: 2px 4px 6px rgba(128, 128, 128, 0.3);
      padding: 10px;
      background: white;
  }

  .card-img-top {
      height: 250px;
      width: 180px;
      overflow: hidden;
  }

  .card-title {
      color: white;
      background-color: grey;
      text-shadow: 2px 2px 3px #726E6D;

}

  .well {
      position: relative;
      -moz-box-shadow: 2px 4px 6px rgba(128, 128, 128, 1);
      -webkit-box-shadow: 2px 4px 6px rgba(128, 128, 128, 1);        box-shadow: 2px 4px 6px rgba(128, 128, 128, 1);
      padding: 10px;
      background: white;
  }
}
